{
  "extends": ["react-app"],
  "rules": {
    "quotes": [2, "single", "avoid-escape"], // Enforce single quotes to disallow double quotes
    "semi": ["error", "always", {"omitLastInOneLineBlock": true}],
    "@typescript-eslint/semi": ["error", "always"],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "object-curly-spacing": ["error", "never"]
  }
}
